<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col main-grid">
            <center>
                    <br><br><br><br><br><br>
                <%- include('menu.ejs') %>
            </center>
            </div>
            <div class="col-10">
              <div class="container">
                <div class="row">
                  <div class="col">
                    
                  </div>
                  <div class="col-10">
                    <br><br><br><br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" class="col-1">No</th>
                          <th scope="col" class="col-4">Username</th>
                          <th scope="col" class="col-3">Nama lengkap</th>
                          <th scope="col" class="col-3">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col">
                    
                  </div>
                </div>
              </div>
                
            </div>
        </div>
    </div>
</body>
</html>