                
                <a href="/user-game/data" class="btn btn-outline-light">User game</a><br><br>
                <a href="/user-biodata/data" class="btn btn-outline-light">User biodata</a><br><br>
                <a href="/user-history/data" class="btn btn-outline-light">History</a><br><br>
